.card {
    padding: 30px;
    background-color: #E2D784;
    color: #000000;
    font-size: 1rem;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    word-wrap: break-word;
}

/* If the screen size is 1200px wide or less, hide the element */
@media screen and (min-width: 1200px) {
  .card {
        font-size: 1.5rem;
    }
}


